
//fonts
$font-family-sans-serif: 'Open Sans', sans-serif;
//colors
$primary: #c167ef;
$secondary: #10bcee;
$dark: #2b3041;
$light: #f3f6f9;

//navbar
 
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $secondary ; 

 @import '../../node_modules/bootstrap/scss/bootstrap.scss';

.navbar{
  transition: all .5s ease-in-out;
}

.navbar-sticky{
  opacity: .9;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


.header{
  background: url('../images/header-background.jpg') center center no-repeat;
  background-size: cover;
}

.download{
  background: url('../images/header-background.jpg') center center no-repeat;
  background-size: cover;
}

.map iframe {
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  border: none;
}